<div id="checklist" class="col-md-6 center-block text-center posicion"> 
    <h2 class="text-center">CHECKLIST</h2>
    <table id="" >
    	<tr>
            <th><h2>Control</h2></th>
            <th><h2>Si</h2></th>
            <th><h2>No</h2></th>
        </tr>                   
		<%=form_for(@contr_est) do |f| %>
			<%@controls.each do |control|%>
				<tr>
					<td><%=f.hidden_field :control_id,value: control.id%><%=text_field_tag 'id', control.control, disabled: true%> </td>
					<td><%=f.radio_button :estado_id,"1"%></td>
					<td><%=f.radio_button :estado_id,"2" %></td>
				</tr>
			<%end%>
		<%end%>
    </table>
   <br><br><input type="date" name="fechafinal" placeholder="Fecha Final">
   <br><br><<input type="submit" value="Finalizar"> 
        
</div>