<!DOCTYPE html>
<html>
<head>
  <title>Audisoft</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1,0">
</head>
<body data-no-turbolink="true">
        <div class="titulopequeno">
            <div id="cerrarsesion">
            	<b>Usuario registrado </b>
            	<input type="button" value="Cerrar sesión">
            </div>
            <div>
            	<h1> <%= image_tag("CatalogBDs.png") %> AUDISOFT<br>Auditoria de Bases de Datos</h1>
            </div>
        </div>
<%= yield %>

</body>
</html>
